fastapi
uvicorn
python-multipart
python-dotenv
requests
pymupdf
PyJWT
python-jose[cryptography]
motor
pymongo
boto3
httpx

# cd backend
# .\venv\Scripts\Activate.ps1
# python -m uvicorn main:app